cryptography
fastapi
uvicorn
markitdown==0.0.1
openai
groq
google-generativeai
langchain
langchain-community
langchain-google-genai
langchain-pinecone
pinecone-client
pydantic-settings
python-multipart
